B12.TankmasterOPC/B12.TankmasterOPC/Service References/DoMucServiceReference/DoMucServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DoMuc">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgTemp" type="xs:double" />
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlowRate" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:double" />
      <xs:element minOccurs="0" name="LevelRate" type="xs:double" />
      <xs:element minOccurs="0" name="MaBe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaHangHoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOV" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoMuc" nillable="true" type="tns:DoMuc" />
  <xs:complexType name="ArrayOfDoMuc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoMuc" nillable="true" type="tns:DoMuc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoMuc" nillable="true" type="tns:ArrayOfDoMuc" />
</xs:schema>