B12.TankmasterOPC/B12.TankmasterOPC/Service References/DoMucServiceReference/DoMucServices2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:2017/Service/DoMucServices.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:2017/Service/DoMucServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2017/Service/DoMucServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DoMucServices_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_Hello_InputMessage">
    <wsdl:part name="parameters" element="Hello" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_Hello_OutputMessage">
    <wsdl:part name="parameters" element="HelloResponse" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_HelloIm_InputMessage">
    <wsdl:part name="parameters" element="HelloIm" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_HelloIm_OutputMessage">
    <wsdl:part name="parameters" element="HelloImResponse" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_LayThongTinDoMucBe_InputMessage">
    <wsdl:part name="parameters" element="LayThongTinDoMucBe" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_LayThongTinDoMucBe_OutputMessage">
    <wsdl:part name="parameters" element="LayThongTinDoMucBeResponse" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_LayThongTinDoMucKho_InputMessage">
    <wsdl:part name="parameters" element="LayThongTinDoMucKho" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_LayThongTinDoMucKho_OutputMessage">
    <wsdl:part name="parameters" element="LayThongTinDoMucKhoResponse" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_SendDataDoMuc_InputMessage">
    <wsdl:part name="parameters" element="SendDataDoMuc" />
  </wsdl:message>
  <wsdl:message name="DoMucServices_SendDataDoMuc_OutputMessage">
    <wsdl:part name="parameters" element="SendDataDoMucResponse" />
  </wsdl:message>
  <wsdl:portType name="DoMucServices">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:DoMucServices/DoWork" message="DoMucServices_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:DoMucServices/DoWorkResponse" message="DoMucServices_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="urn:DoMucServices/Hello" message="DoMucServices_Hello_InputMessage" />
      <wsdl:output wsaw:Action="urn:DoMucServices/HelloResponse" message="DoMucServices_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloIm">
      <wsdl:input wsaw:Action="urn:DoMucServices/HelloIm" message="DoMucServices_HelloIm_InputMessage" />
      <wsdl:output wsaw:Action="urn:DoMucServices/HelloImResponse" message="DoMucServices_HelloIm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayThongTinDoMucBe">
      <wsdl:input wsaw:Action="urn:DoMucServices/LayThongTinDoMucBe" message="DoMucServices_LayThongTinDoMucBe_InputMessage" />
      <wsdl:output wsaw:Action="urn:DoMucServices/LayThongTinDoMucBeResponse" message="DoMucServices_LayThongTinDoMucBe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayThongTinDoMucKho">
      <wsdl:input wsaw:Action="urn:DoMucServices/LayThongTinDoMucKho" message="DoMucServices_LayThongTinDoMucKho_InputMessage" />
      <wsdl:output wsaw:Action="urn:DoMucServices/LayThongTinDoMucKhoResponse" message="DoMucServices_LayThongTinDoMucKho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDataDoMuc">
      <wsdl:input wsaw:Action="urn:DoMucServices/SendDataDoMuc" message="DoMucServices_SendDataDoMuc_InputMessage" />
      <wsdl:output wsaw:Action="urn:DoMucServices/SendDataDoMucResponse" message="DoMucServices_SendDataDoMuc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>